<section class="post-list" id="news">
	<div class="container overflow-hidden">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-heading">Novidades</h3>
			</div>

			<div class="post-slider col-md-12">
				<!-- NEWS CAROSUEL -->
				<div class="swiper-wrapper">

					<!--  NEWS LIST GOES HERE -->
					<app-news *ngFor='let news of newsList' [element]="news"> </app-news>
					<!-- / NEWS LIST GOES HERE -->

				</div>
				<!-- / NEWS CAROSUEL -->

				<!-- CAROUSEL CONTROLS -->
				<div class="post-pagination text-center"></div>
				<div class="post-slider-next right-arrow-negative">
					<span class="ti-arrow-right"></span>
				</div>

				<div class="post-slider-prev left-arrow-negative">
					<span class="ti-arrow-left"></span>
				</div>
				<!-- / CAROUSEL CONTROLS -->
			</div>
		</div>
	</div>
</section>