<section class="countdown" id="special">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-heading">Promoção!</h3>
			</div>

			<div class="col-md-5">
				<ul class="product-list product-list-vertical">
					<li class="wow fadeInUp" data-wow-delay=".2s">
						<span class="product-list-left pull-left">
									<a href="#" data-target="#product-01" data-toggle="modal">
										<img alt="product image" class="product-list-primary-img" src="img/product3.png"> 
										<img alt="product image" class="product-list-secondary-img" src="img/product4.png">
									</a>
							</span>
					</li>
				</ul>
			</div>

			<div class="col-md-7 text-center">
				<div class="countdown-container">
					<h3 class="wow fadeInDown">Chocolate desire</h3>

					<p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>


					<span class="countdown-price h3 wow fadeInUp">$420.00</span>
					<button type="button" class="btn btn-default add-item wow swing" data-image="img/product3.png" data-name="Chocolate desire [promo]"
					 data-cost="420.00" data-id="9">
							<span class="ti-shopping-cart"></span>add to cart
						</button>
				</div>
			</div>
		</div>
	</div>
</section>