<section class="home section image-slider" id="home">
		<div class="home-slider text-center">
      <div class="swiper-wrapper">
				
        <div class="swiper-slide" style="background: url(img/slider/slide2.jpg);">
					<img src="" alt="store logo">
					<h2 class="home-slider-title-main white-color">Sweet Home</h2>
					<div class="home-buttons text-center"> <a href="#products" class="btn btn-lg  btn-primary">Produtos</a> </div>
					<a class="arrow bounce text-center" href="#products"> <span class="ti-mouse"></span> <span class="ti-angle-double-down"></span> </a>
				</div>

				<div class="swiper-slide" style="background: url(img/slider/slide1.jpg);">
					<img src="" alt="store logo">
					<h2 class="home-slider-title-main white-color">Sweet Home</h2>
					<div class="home-buttons text-center"> <a href="#products" class="btn btn-lg  btn-primary">Produtos</a> </div>
					<a class="arrow bounce text-center" href="#about"> <span class="ti-mouse"></span> <span class="ti-angle-double-down"></span> </a>
				</div>

			</div>
			<div class="home-pagination"></div>
			<div class="home-slider-next right-arrow-negative"> <span class="ti-arrow-right"></span> </div>
			<div class="home-slider-prev left-arrow-negative"> <span class="ti-arrow-left"></span> </div>
		</div>
	</section>
