<!-- PRODUCT MODAL -->
<div class="modal fade product-modal" id="product-01" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- MODAL CONTENT -->
    <div class="modal-content shadow">
      <a class="close" data-dismiss="modal"> <span class="ti-close"></span></a>
      <div class="modal-body">
        <!-- Wrapper for slides -->
        <div class="carousel slide product-slide" id="product-carousel">

          <!-- HERE GOES THE IMAGE SLIDER -->
          <app-image-slider></app-image-slider>
          <!-- /HERE GOES THE IMAGE SLIDER -->

        </div>

        <!-- PRODUCT DESCRIPTION -->
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-push-2">
              <div class="row">
                <div class="col-md-12 product-modal-header">
                  <h3 class="pull-left product-modal-title">{{element.name}}</h3>

                  <span class="product-action-section">
													<span class="price">{{element.price}}</span>
                  <button type="button" class="btn btn-default add-item" data-image="img/product3.png" data-name="Chocolate desire" data-cost="299.00"
                    data-id="8">
													<span class="ti-shopping-cart"></span>Comprar</button>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-push-2 product-description">
              <h4 class="section-heading">Ut enim ad minim veniam</h4>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, </p>

              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, </p>

              <div class="row">
                <div class="col-md-6">
                  <img src="img/product3.png" class="img-responsive" alt="product image">
                </div>

                <div class="col-md-6">
                  <h4 class="section-heading">Ut enim ad minim veniam</h4>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.</p>
                </div>
              </div>

              <div class="product-tabs">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#tab1">Details</a></li>
                </ul>
                <div class="tab-content">
                  <div id="tab1" class="tab-pane fade in active">
                    <h4 class="section-heading">Details</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum.</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- / PRODUCT DESCRIPTION -->
      </div>
    </div>
    <!-- / MODAL CONTENT -->
  </div>
</div>