<!-- PRODUCT MODAL -->
<div class="modal fade product-modal" id="product-01" role="dialog" tabindex="-1">
  <div class="modal-dialog">

    <!-- MODAL CONTENT -->
    <div class="modal-content shadow">
      <a class="close" data-dismiss="modal"> <span class="ti-close"></span></a>
      <div class="modal-body">
        <!-- Wrapper for slides -->
        <div class="carousel slide product-slide" id="product-carousel">
          <!-- CAROSUEL SLIDER -->
          <div class="carousel-inner cont-slider">
            <div class="item active"> <img alt="" src="img/product3.png" title=""> </div>
            <div class="item"> <img alt="" src="img/product4.png" title=""> </div>
            <div class="item"> <img alt="" src="img/product3.png" title=""> </div>
            <div class="item"> <img alt="" src="img/product4.png" title=""> </div>
          </div>
          <!-- / CAROSUEL SLIDER -->

          <!-- CAROUSEL INDICATORS -->
          <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#product-carousel">
              <img alt="" src="img/product3.png">
            </li>

            <li class="" data-slide-to="1" data-target="#product-carousel">
              <img alt="" src="img/product4.png">
            </li>

            <li class="" data-slide-to="2" data-target="#product-carousel">
              <img alt="" src="img/product3.png">
            </li>

            <li class="" data-slide-to="3" data-target="#product-carousel">
              <img alt="" src="img/product4.png">
            </li>
          </ol>
          <!-- / CAROUSEL INDICATORS -->
        </div>

        <!-- PRODUCT DESCRIPTION -->
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-push-2">
              <div class="row">
                <div class="col-md-12 product-modal-header">
                  <h3 class="pull-left product-modal-title">Chocolate desire</h3>

                  <span class="product-action-section">
													<span class="price">$299.00</span>
                  <button type="button" class="btn btn-default add-item" data-image="img/product3.png" data-name="Chocolate desire" data-cost="299.00"
                    data-id="8">
													<span class="ti-shopping-cart"></span>add to cart </button>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-push-2 product-description">
              <h4 class="section-heading">Ut enim ad minim veniam</h4>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, </p>

              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, </p>

              <div class="row">
                <div class="col-md-6">
                  <img src="img/product3.png" class="img-responsive" alt="product image">
                </div>

                <div class="col-md-6">
                  <h4 class="section-heading">Ut enim ad minim veniam</h4>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.</p>
                </div>
              </div>

              <div class="product-tabs">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#tab1">Details</a></li>
                  <li><a data-toggle="tab" href="#tab2">Info tab</a></li>
                  <li><a data-toggle="tab" href="#tab3">Other info </a></li>
                </ul>

                <div class="tab-content">
                  <div id="tab1" class="tab-pane fade in active">
                    <h4 class="section-heading">details</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum.</p>
                  </div>

                  <div id="tab2" class="tab-pane fade">
                    <h4 class="section-heading">Info tab</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum. </p>
                  </div>

                  <div id="tab3" class="tab-pane fade">
                    <h4 class="section-heading">other info</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / PRODUCT DESCRIPTION -->
      </div>
    </div>
    <!-- / MODAL CONTENT -->
  </div>
</div>