<!-- SINGLE NEWS ITEM -->
<div class="swiper-slide">
	<div class="post-entry wow fadeInUp">
		<a href="#" data-toggle="modal" (click)="gotoDetail(element)">
			<span class="post-entry-cover" style="background-image:url(img/blog-cover.jpg);"></span>
		</a>
		<a class="h3" href="#" data-toggle="modal" (click)="gotoDetail(element)">
			{{element.title}}
		</a>
		<a href="#" data-toggle="modal" class="post-entry-more" (click)="gotoDetail(element)">
			Ler mais!
			<span class="ti-arrow-right icon"></span>
		</a>
	</div>
</div>
<!-- / SINGLE NEWS ITEM -->