<!-- SINGLE ITEM -->
<li class="swiper-slide wow fadeInUp text-center" data-wow-delay=".2s">
  <span class="product-list-left pull-left">
		<a href="#" data-target="#product-01" data-toggle="modal">
			<img alt="product image" class="product-list-primary-img" src="img/product3.png"> 
			<img alt="product image" class="product-list-secondary-img" src="img/product4.png">
		</a>
	</span>
	<a href="#" data-target="#product-01" data-toggle="modal">
		<span class="product-list-right pull-left">
			<span class="product-list-name h3">{{product.name}}</span>
			<span class="product-list-price">{{product.price}}</span>
		</span>
	</a>
	<button type="button" class="btn btn-default add-item">
	  <span class="ti-shopping-cart"></span>Adicionar
	</button>
</li>
<!-- / SINGLE ITEM -->