<nav class="navbar navbar-fixed-top shadow">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"> <img src="img/logo-white.png" alt="logo"> </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#home" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a href="#products" routerLink="/products">Produtos</a></li>
        <li><a href="#special" routerLink="/offer">Promoção</a></li>
        <li><a href="#news" routerLink="/news">Novidades</a></li>
        <li><a href="#about" routerLink="/about">Sobre nós</a></li>
        <li><a href="#contact" routerLink="/contact">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>

