<section id="contact" class="contact contact-with-map">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-heading">Contato</h3>
			</div>
			<div class="col-md-3">
				<div class="contact-data">
					<ul class="white-color">
						<li><span class="ti-mobile icon"></span>+ 49 123 456 789</li>
						<li><span class="ti-email icon"></span>mail@example.com</li>
						<li><span class="ti-instagram icon"></span>sweethome</li>
						<li><span class="ti-facebook icon"></span>sweethome</li>
					</ul>
				</div>
			</div>
			<app-contact-form></app-contact-form>
		</div>
	</div>
</section>